.wrapper {
    display: flex;
    flex-direction: row;
    width: 1312px;
    justify-content: space-between;
    margin: 0 auto;
    padding: 13px 0;
}
.nav {
    margin-top: 6px;
}
.support {
    color: #fff;
    display: flex;
    align-items: center;
    font-weight: 600;
    cursor: pointer;
}

.rentOutHousing {
    color: #fff;
    display: flex;
    align-items: center;
    font-weight: 600;
    cursor: pointer;
}

.registration {
    color: #00506F;
    padding: 12px 16px;
    background-color: #fff;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
    margin-right: 8px;
}

.exit {
    color: #fff;
    padding: 12px 16px;
    border-radius: 10px;
    border: 1px solid #fff;
    font-weight: 500;
    cursor: pointer;
}
.btnWrapper {
    display: flex;
}

.support:hover, .exit:hover, .registration:hover, .rentOutHousing:hover {
    transform: scale(1.05);
}
